[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa_core = "==0.8.5"
rasa_nlu = "==0.11.0"
sklearn_crfsuite = "*"
spacy = "*" 
Flask = "*"
gunicorn = "*"
requests = "*"
jsonschema = "*"
redis = "*"
chatbase = {git = "https://github.com/google/chatbase-python"}
pip = "==9.0.3"  # pip10 have a regression https://github.com/pypa/pip/issues/5251 that stop us from install from github.
PyJWT = "*"
workalendar = "*"
duckling = "*"
en_core_web_md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz"}

[dev-packages]
pytest = "*"
pytest-mock = "*"
mockredispy = "*"
fakeredis = "*"
freezegun = "*"
pygraphviz = {extras = ["visualize"], version = "*"}

[requires]
python_version = "3.6"
